<br>
<table class="table">
    
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Peso</th>
            <th scope="col">Costo</th>
            <th scope="col">Costo Total</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each inventa}}
        <tr>
            <th scope="row">{{nombre}}</th>
            <td>{{cantidad}}</td>
            <td>{{peso}}</td>
            <td>{{costo}}</td>
            <td>{{costoTotal}}</td>
            <td><a href="/inv/edit/{{_id}}" class="btn btn-primary btn-sm">Editar</a></td>
            <td>
                 <form action="/inv/dlt/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                     <button class="btn btn-danger btn-sm" type="submit">
                         Borrar
                         </button>
            </td>
        </tr>
        {{/each}}
    </tbody>
    
</table>
